Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

changing to final layer
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix single item break up
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove store progress
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updated explanation
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix device issue
  docs/tutorials/exercises/4_torchvision.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix cell identity
  docs/tutorials/exercises/1_simple_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

adds MAX_ITER, explanation
  .github/workflows/ci.yml
  docs/developers/contributing.md
  docs/tutorials/exercises/4_torchvision.md
  docs/tutorials/introductory_tutorial.md
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/adversarial_examples_mad.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

remember to make it an int
  docs/developers/contributing.md
  docs/tutorials/exercises/4_torchvision.md
  docs/tutorials/introductory_tutorial.md
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/adversarial_examples_mad.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

remove text and fix parsing bug
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

use deterministic algorithms for deep nets
  .github/pull_request_template.md
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates comment
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

address minor changes
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

responds to Edo's and Raffles's comments
  docs/references.bib
  docs/user_guide/index.md
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

small tweak to index
  docs/user_guide/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

make plot_penalty func run on gpu
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

add suppressing semicolon
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix run notebook in deploy
  .github/workflows/deploy.yml
Due: none

fix intermed-index anchor
  docs/user_guide/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

move tutorials/exercises to geting started
  docs/getting_started/exercises/1_simple_metamer.md
  docs/getting_started/exercises/2_simple_eigendistortion.md
  docs/getting_started/exercises/3_textures.md
  docs/getting_started/exercises/4_torchvision.md
  docs/getting_started/index.md
  docs/getting_started/introductory_tutorial.md
  docs/getting_started/quickstart.md
  docs/index.md
  docs/tutorials/index.md
  docs/user_guide/index.md
  linting/check_tutorials.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

correct link
  docs/getting_started/exercises/4_torchvision.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

revert changes to conf.py about structure
  docs/conf.py
Due: check-docstrings, check-malformed-directive

add exercise link
  docs/getting_started/index.md
  docs/getting_started/introductory_tutorial.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

starts custom dict for codespell
  .github/pull_request_template.md
  plenoptic-dict.txt
  pyproject.toml
Due: check-malformed-directive, check-tutorials

responds to Raffles's comments
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix pre commit
  .pre-commit-config.yaml
Due: none

adds note about installation to top of exercises
  docs/getting_started/exercises/1_simple_metamer.md
  docs/getting_started/exercises/2_simple_eigendistortion.md
  docs/getting_started/exercises/3_textures.md
  docs/getting_started/exercises/4_torchvision.md
  docs/getting_started/introductory_tutorial.md
  linting/check_tutorials.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds fix, tests
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

adds note to docs about this bugfix
  docs/reference/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds load futurewarning with test
  src/plenoptic/_synthesize/synthesis.py
  src/plenoptic/data/_fetch.py
  tests/test_mad.py
Due: check-docstrings, check-malformed-directive

fix crossref
  docs/reference/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update example_mad files
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

update tests to hit new lines
  tests/test_mad.py
Due: check-docstrings, check-malformed-directive

updates create_model call to match new syntax
  docs/user_guide/models_and_metrics/deep_nets.md
  src/plenoptic/conftest.py
  src/plenoptic/models/feature_extractor.py
  tests/conftest.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates docstrings about rgb issues
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

update min pyrtools version
  pyproject.toml
Due: none

fix failing tests
  src/plenoptic/plot/display.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

adds datasaurus tarball
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

first pass at circle, index
  docs/user_guide/intermediate_synthesis/datasaurus/circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds first datasaurus test
  docs/user_guide/intermediate_synthesis/datasaurus/circle.md
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

add to user guide
  docs/user_guide/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
