Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

adds linter to check for matplotlib inline directive
  .pre-commit-config.yaml
  linting/check_mpl_inline.py
Due: check-docstrings, check-malformed-directive

Change name `synth_img` to `img` in penalize_range, bug fix
  src/plenoptic/synthesize/synthesis.py
  src/plenoptic/tools/regularization.py
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Fix wrong 4d check logic
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
Due: check-docstrings, check-malformed-directive

Ruff linting
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

Fix intersect -> intersection
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Add cross-reference to class, to pass linting
  docs/tutorials/intro/MAD_Competition_1.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Fix docs reference link
  docs/tutorials/intro/MAD_Competition_1.md
  docs/tutorials/intro/MAD_Competition_2.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

updates torch module apidocs
  docs/_templates/torch_module.rst.jinja
  docs/conf.py
Due: check-docstrings, check-malformed-directive

handle torch attributes same way as methods
  docs/_templates/torch_module.rst.jinja
  docs/conf.py
Due: check-docstrings, check-malformed-directive

remove from plenoptic import in docs
  docs/user_guide/models_and_metrics/Steerable_Pyramid.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/reproduce/Original_MAD.md
  docs/user_guide/synthesis/Eigendistortions.md
  docs/user_guide/synthesis/MAD_Competition_1.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds _api_change.py
  src/plenoptic/_api_change.py
Due: check-docstrings, check-malformed-directive

rename plot_representation_error_as_rgb
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

updates docstrings for api restructure
  src/plenoptic/data/fetch.py
  src/plenoptic/data/images.py
  src/plenoptic/data/synthetic_images.py
  src/plenoptic/external.py
  src/plenoptic/metric/classes.py
  src/plenoptic/metric/model_metric.py
  src/plenoptic/metric/naive.py
  src/plenoptic/metric/perceptual_distance.py
  src/plenoptic/model_components/convolutions.py
  src/plenoptic/model_components/filters.py
  src/plenoptic/model_components/laplacian_pyramid.py
  src/plenoptic/model_components/non_linearities.py
  src/plenoptic/model_components/signal.py
  src/plenoptic/model_components/stats.py
  src/plenoptic/model_components/steerable_pyramid_freq.py
  src/plenoptic/models/frontend.py
  src/plenoptic/models/naive.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/optim.py
  src/plenoptic/plot/display.py
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
  src/plenoptic/synthesize/autodiff.py
  src/plenoptic/synthesize/eigendistortion.py
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
  src/plenoptic/tensors.py
  src/plenoptic/validate.py
Due: check-docstrings, check-malformed-directive

additional docstring fixes
  src/plenoptic/model_components/filters.py
  src/plenoptic/optim.py
  src/plenoptic/plot/metamer.py
  src/plenoptic/validate.py
Due: check-docstrings, check-malformed-directive

updates api docs for api restructure
  docs/api/components.rst
  docs/api/debugging.rst
  docs/api/display.rst
  docs/api/external.rst
  docs/api/images.rst
  docs/api/metrics.rst
  docs/api/models.rst
  docs/api/optimization.rst
  docs/api/synthesis.rst
  docs/api/synthesis_helper.rst
  docs/api/validation.rst
Due: check-malformed-directive

final fix for failing filters
  src/plenoptic/model_components/filters.py
Due: check-docstrings, check-malformed-directive

update rest of docs for api restructure?
  docs/developers/contributing.md
  docs/developers/synthesis.md
  docs/getting_started/quickstart.md
  docs/reference/citation.md
  docs/reference/models.md
  docs/reference/reproducibility.md
  docs/reference/tips.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/advanced/Synthesis_extensions.md
  docs/user_guide/models_and_metrics/Perceptual_distance.md
  docs/user_guide/models_and_metrics/Steerable_Pyramid.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/advanced_usage/ps_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_intro.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_limitations.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_matlab_differences.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_optimization.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_examples.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_understand_stats.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/reproduce/Original_MAD.md
  docs/user_guide/synthesis/Eigendistortions.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates tests for api changes
  tests/conftest.py
  tests/test_data_get.py
  tests/test_display.py
  tests/test_eigendistortion.py
  tests/test_mad.py
  tests/test_metamers.py
  tests/test_metric.py
  tests/test_models.py
  tests/test_steerable_pyr.py
  tests/test_tools.py
  tests/test_uploaded_files.py
  tests/utils.py
Due: check-docstrings, check-malformed-directive

Split UserWarning docstring into two
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Change validate_penalty example to falit dtype check
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Fix bugs penalty_function Example
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

adds versionchanged to plotting docstrings
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

combine synthesis_helper and display api sections
  docs/api/display.rst
  docs/api/synthesis_helper.rst
  docs/conf.py
Due: check-docstrings, check-malformed-directive

plenoptic/synthesize -> plenoptic/_synthesize
  src/plenoptic/__init__.pyi
  src/plenoptic/_synthesize/__init__.py
  src/plenoptic/_synthesize/__init__.pyi
  src/plenoptic/_synthesize/autodiff.py
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
  src/plenoptic/convergence.py
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

save fix for synthesize -> _synthesize
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

adds print warning about SKIP_MPL
  docs/conf.py
Due: check-docstrings, check-malformed-directive

fix some api references for refactor
  docs/api/metrics.rst
  docs/api/models.rst
  docs/api/optimization.rst
Due: check-malformed-directive

adds links to display headers
  docs/api/display.rst
Due: check-malformed-directive

adds errors to help people with API restructure
  src/plenoptic/__init__.py
Due: check-docstrings, check-malformed-directive

shorten header links in display.rst
  docs/api/display.rst
Due: check-malformed-directive

adds migration guide
  docs/_static/search-table.js
  docs/conf.py
  docs/reference/index.md
  docs/reference/migration_guide.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

small change to validation api page
  docs/api/validation.rst
Due: check-malformed-directive

adds warning about API change
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix change to validation.rst
  docs/api/validation.rst
Due: check-malformed-directive

fix for api_docs merge into api_restructure
  docs/_templates/torch_module.rst.jinja
  docs/conf.py
Due: check-docstrings, check-malformed-directive

fix failing doctest
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

_api_change.py should not be linted
  pyproject.toml
Due: none

correct expected error
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

fix eigendistortion test autodiff import
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

fix load_images path in PS notebooks
  docs/user_guide/models_and_metrics/portilla_simoncelli/advanced_usage/ps_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_intro.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_limitations.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_matlab_differences.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_examples.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_understand_stats.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
