Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

update example_metamerCTF_ps.pt file (and hash)
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

updates hash for PS file change
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

adds zizmor action
  .github/workflows/zizmor.yml
Due: none

fixes for zizmor
  .github/workflows/check_versions.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

replace setup-ffmpeg action
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

removes guassian1d
  docs/api/components.rst
  src/plenoptic/simulate/canonical_computations/filters.py
Due: check-docstrings, check-malformed-directive

removes NLP
  src/plenoptic/metric/__init__.py
  src/plenoptic/metric/classes.py
Due: check-docstrings, check-malformed-directive

remove deprecated package
  pyproject.toml
Due: none

specify example_metamerCTF_ps version
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

correct allsgreen hash
  .github/workflows/ci.yml
Due: none

Update docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/MAD_Competition_1.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/MAD_Competition_2.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update docs/user_guide/synthesis/Metamer.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update docs/developers/contributing.md
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/mad_competition.py
Due: check-docstrings, check-malformed-directive

Update src/plenoptic/tools/validate.py
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Update tests/test_tools.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

specify the nb optional dependencies
  environment.yml
Due: none

Update docs/reference/reproducibility.md
  docs/reference/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds notes about other packages
  README.md
  docs/getting_started/install.md
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

improves quickstart in response to David's comments
  docs/getting_started/quickstart.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

number requirements page
  docs/reference/models.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

udpates badgets, classifiers for supported python versions
  README.md
  docs/index.md
  pyproject.toml
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update CI, tests for supported versions
  .github/workflows/ci.yml
  noxfile.py
Due: check-docstrings, check-malformed-directive

updates supported version in contributing
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds action to check our supported python versions match pytorch
  .github/workflows/check_versions.yml
  pyproject.toml
Due: none

adds python script for check
  .github/workflows/check_supported_versions.py
Due: check-docstrings, check-malformed-directive

typo and formatting fix
  docs/getting_started/quickstart.md
  docs/reference/models.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

small fixes to contributing rendering
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates example metamer objects for new API
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

Add section tag
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Make validate_input example fail instead of warn
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Split complex and precision checks into separate errors
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Separate complex and precision check errors + tidying
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Clarify warning message
  docs/user_guide/synthesis/MAD_Competition_1.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
