Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

Make spyr reconstruction respect batch/channel order
  src/plenoptic/process/steerable_pyramid_freq.py
Due: check-docstrings, check-malformed-directive

Use truly color image for multichannel spyr test
  tests/test_steerable_pyr.py
Due: check-docstrings, check-malformed-directive

text changes
  docs/user_guide/reproduce/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix typos
  docs/user_guide/reproduce/adversarial_examples_mad.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Use color_img fixture from conftest
  tests/test_steerable_pyr.py
Due: check-docstrings, check-malformed-directive

clarification on order of magnitude increase
  docs/user_guide/reproduce/adversarial_examples_mad.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

increase timeout?
  .github/workflows/ci.yml
Due: none

switch back to original number of iterations
  docs/user_guide/reproduce/adversarial_examples_mad.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

revert changes to url checker
  .github/workflows/ci.yml
Due: none

replace zenodo badge with shields.io badge
  README.md
  docs/index.md
  docs/reference/citation.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds caltech burger
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

getting single burger image and adding reference
  docs/references.bib
  docs/user_guide/reproduce/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

change label name
  docs/user_guide/reproduce/adversarial_examples_mad.md
  docs/user_guide/reproduce/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

changing anchor name
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/adversarial_examples_metamer.md
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update docs/user_guide/reproduce/feather2023.md
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update docs/user_guide/reproduce/adversarial_examples_metamer.md
  docs/user_guide/reproduce/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

cross reference
  docs/user_guide/reproduce/adversarial_examples_mad.md
  docs/user_guide/reproduce/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

response to BB's comments
  docs/user_guide/reproduce/adversarial_examples_mad.md
  docs/user_guide/reproduce/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

moving both files to a folder
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

put notebooks into one folder and index them
  docs/user_guide/index.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

add name and orcid
  CITATION.cff
Due: none

name change to avoid ambiguity
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

rename anchor
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_index.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

addressed BB's comments
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
