Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

Update docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

corresponding statement in mad competition notebook
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

harmonizing descriptions and rescaling between two notebooks
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_mad.md
  docs/user_guide/reproduce/synthesizing_adversarial_examples/adversarial_examples_metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Add OPC and PCA color transforms
  docs/api/process.rst
  src/plenoptic/_api_change.py
  src/plenoptic/process/__init__.pyi
  src/plenoptic/process/color.py
  tests/test_color.py
Due: check-docstrings, check-malformed-directive

Add explicit PortillaSimoncelli color statistics path
  src/plenoptic/models/portilla_simoncelli.py
  tests/conftest.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

Add first set of color statistics
  src/plenoptic/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

Add tests for color PortillaSimoncelli
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

adds support, testing for plotting/updating 2d representations
  src/plenoptic/models/feature_extractor.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

Add joint color-orientation cross-correlations
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

adds tutorials+exercises, unchanged
  docs/index.md
  docs/tutorials/exercises/1_simple_metamer.md
  docs/tutorials/exercises/2_simple_eigendistortion.md
  docs/tutorials/exercises/3_textures.md
  docs/tutorials/exercises/4_torchvision.md
  docs/tutorials/exercises/5_glm.md
  docs/tutorials/index.md
  docs/tutorials/introduction.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Add cross-scale magnitude joint channel correlations
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

Add joint color cross-scale real correlations
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

Define helper function for joint cross-correlations
  src/plenoptic/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

Simplify ordering of color statistics dicts
  src/plenoptic/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

Add real-coef same-scale different-channel cross-correlations
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

fix linter problems with intro
  docs/tutorials/introduction.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix exercise 1
  docs/tutorials/exercises/1_simple_metamer.md
  linting/check_tutorials.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix exercise 2
  docs/tutorials/exercises/2_simple_eigendistortion.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix exercise 3
  docs/tutorials/exercises/1_simple_metamer.md
  docs/tutorials/exercises/3_textures.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Add correlation of shifted low-pass images
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

fix exercise 4
  docs/tutorials/exercises/4_torchvision.md
  linting/ruff_notebooks.py
  pyproject.toml
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

add header for link
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix image for intro
  docs/_static/lgn-models.png
  docs/tutorials/introduction.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

drop exercise 5
  docs/tutorials/exercises/5_glm.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

improve layout
  docs/conf.py
  docs/tutorials/index.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

more improvements
  docs/_static/custom.css
  docs/getting_started/index.md
  docs/tutorials/exercises/4_torchvision.md
  docs/tutorials/index.md
  docs/tutorials/introductory_tutorial.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Add cross-correlation of coarse real coeffs and lowpass residual
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

adds link in getting started tot turoaisl
  docs/getting_started/index.md
  docs/tutorials/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Add comments relating statistics to Vacher 2021
  src/plenoptic/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

tweaks to intro tutorial
  docs/tutorials/introductory_tutorial.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

run pre commit on last commit
  docs/tutorials/introductory_tutorial.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

remove misleading comment
  docs/conf.py
Due: check-docstrings, check-malformed-directive

Add optional regularization to the color PCA whitening
  src/plenoptic/process/color.py
  tests/test_color.py
Due: check-docstrings, check-malformed-directive

imrpovements for rendering stuff
  docs/_static/custom.css
  docs/tutorials/exercises/1_simple_metamer.md
  docs/tutorials/exercises/2_simple_eigendistortion.md
  docs/tutorials/exercises/3_textures.md
  docs/tutorials/exercises/4_torchvision.md
  docs/tutorials/introductory_tutorial.md
  linting/check_tutorials.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

replace explcit links with crossrefs
  docs/tutorials/exercises/4_torchvision.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix link
  docs/tutorials/introductory_tutorial.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix kernel names
  .pre-commit-config.yaml
  docs/tutorials/exercises/1_simple_metamer.md
  docs/tutorials/exercises/2_simple_eigendistortion.md
  docs/tutorials/exercises/3_textures.md
  docs/tutorials/exercises/4_torchvision.md
  docs/tutorials/introductory_tutorial.md
  linting/check_myst-nb.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
