Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

combines top two hidden cells
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_plenoptic_logo.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds bullseye, update circle plotting
  docs/user_guide/intermediate_synthesis/datasaurus/ds_bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update spacing
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates dots
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates index
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

ds_ssim -> dissimilarity
  src/plenoptic/_synthesize/mad_competition.py
Due: check-docstrings, check-malformed-directive

updates in response to Edoardo's comments
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

fix failing doctest, add example for raise_on_checks
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

fix failing doctest
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

fix link
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds hlines
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

udpates vlines
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds slantup and down
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix typos
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates oval, polygon text
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_polygons.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

removes notes from index
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

more tweaks to text
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

add correlation
  plenoptic-dict.txt
Due: none

remove unnecessary comment
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vwidelines.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds useful admonition
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds widelines
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vwidelines.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

change nav level
  docs/conf.py
Due: check-docstrings, check-malformed-directive

working on star text
  docs/user_guide/intermediate_synthesis/datasaurus/ds_star.md
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

clean up docstrings
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

add cpu and cuda versions
  src/plenoptic/data/_fetch.py
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/synthesis.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

adds doctests to eigendistortion
  src/plenoptic/_synthesize/eigendistortion.py
Due: check-docstrings, check-malformed-directive

removes print from doctests
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

fix failing doctests
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

update doctest
  src/plenoptic/_synthesize/eigendistortion.py
Due: check-docstrings, check-malformed-directive

updates star text
  docs/user_guide/intermediate_synthesis/datasaurus/ds_star.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds discussion about redundant stats
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

change maxdepth back
  docs/user_guide/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove out of date comment
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_plenoptic_logo.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_polygons.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_star.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

specify example eigendist revision
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

updates test values for 2.14
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

udpate datasaurus metamers with JEnkins version
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

adds DATASAURUS_CHECK env var, described in contributing
  docs/developers/contributing.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_plenoptic_logo.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_polygons.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_star.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
  jenkins/Jenkinsfile
  plenoptic-dict.txt
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

address edoardo's comments
  src/plenoptic/_synthesize/eigendistortion.py
Due: check-docstrings, check-malformed-directive

updates to synthesize example
  src/plenoptic/_synthesize/eigendistortion.py
Due: check-docstrings, check-malformed-directive

downsample init example for speed
  src/plenoptic/_synthesize/eigendistortion.py
Due: check-docstrings, check-malformed-directive
