Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

updates steerpyr docstrings
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
Due: check-docstrings, check-malformed-directive

versionchanged sphinx in docstring
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
Due: check-docstrings, check-malformed-directive

updates pyrshow
  src/plenoptic/tools/display.py
Due: check-docstrings, check-malformed-directive

make sure residuals are real-valued after convert to yr
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
Due: check-docstrings, check-malformed-directive

updates notebook
  docs/tutorials/models/Steerable_Pyramid.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

updates tests
  tests/test_steerable_pyr.py
Due: check-docstrings, check-malformed-directive

updates pr template
  .github/pull_request_template.md
Due: check-malformed-directive, check-tutorials

fix docstring
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
Due: check-docstrings, check-malformed-directive

fix failing doctests
  src/plenoptic/simulate/canonical_computations/non_linearities.py
Due: check-docstrings, check-malformed-directive

fix test phase correlation
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

fix failing display tests
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

fix test_recon
  tests/test_steerable_pyr.py
Due: check-docstrings, check-malformed-directive

adds helper fucntion for visualizing ps regression tests
  tests/utils.py
Due: check-docstrings, check-malformed-directive

updates visualize ps regression
  tests/utils.py
Due: check-docstrings, check-malformed-directive

increase atol
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

update ps_regression hash
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

fix other faling test
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

add ability to save weighted loss -- correct how we save meatemr loss
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

make examine saved synthesis work with new loss func saving
  src/plenoptic/synthesize/synthesis.py
  src/plenoptic/tools/io.py
Due: check-docstrings, check-malformed-directive

add ps loss factory, updates tests
  src/plenoptic/tools/optim.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

fix osf download url
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

specify ps_regression version
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

fix tests
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

change texture mixture test
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

remove use_deterministic_algorithms -- it can slow things down and doesn't seem to be necessary
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

use ps_regression reision 9
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

update futurewarning description
  docs/reproducibility.md
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates nonlin docstrings to be clearer
  src/plenoptic/simulate/canonical_computations/non_linearities.py
Due: check-docstrings, check-malformed-directive

moves 5d support to the tensor nonlins
  src/plenoptic/simulate/canonical_computations/non_linearities.py
Due: check-docstrings, check-malformed-directive

adds more tests for non lin funcs
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

fix failing deploy action
  .github/workflows/deploy.yml
Due: none

change docker to be based on pytorch
  jenkins/Dockerfile
Due: none

add test for pytorch version in jenkins container
  .github/workflows/ci.yml
Due: none

add diagnostic info on fail
  .github/workflows/ci.yml
Due: none

move check pytorch version to separate workflow
  .github/workflows/check_versions.yml
  .github/workflows/ci.yml
Due: none

remove jenkins lock
  jenkins/Jenkinsfile
Due: none

simplify PortillaSimoncelliRemove
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

update torch version
  jenkins/Dockerfile
Due: none

install make in container
  jenkins/Dockerfile
Due: none
