Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

adds check to pre commit
  .pre-commit-config.yaml
  linting/check_return_literal.py
Due: check-docstrings, check-malformed-directive

make properly executable
  linting/check_return_literal.py
Due: check-docstrings, check-malformed-directive

add ruff rule for missing docstring
  pyproject.toml
  src/plenoptic/plot/synthesis.py
  src/plenoptic/validate.py
Due: check-docstrings, check-malformed-directive

add comment
  pyproject.toml
Due: none

use validate penalty in init for metamer / mad
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

adds linting to check api change
  linting/check_api_change.py
Due: check-docstrings, check-malformed-directive

add missing functions to dir
  src/plenoptic/loss.py
  src/plenoptic/validate.py
Due: check-docstrings, check-malformed-directive

updates test api to check
  src/plenoptic/_api_change.py
  tests/test_api.py
Due: check-docstrings, check-malformed-directive

don't call rand in validate_penalty
  src/plenoptic/validate.py
Due: check-docstrings, check-malformed-directive

simplify test_load_penalty_change
  tests/test_mad.py
Due: check-docstrings, check-malformed-directive

adds to pre commit
  .pre-commit-config.yaml
Due: none

improvements to notebook
  docs/user_guide/models_and_metrics/deep_nets.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates deepnetfeatures uploads
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

starts feather2023
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove duplicate line
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

first pass at feather2023
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/feather2023.md
  linting/fix_tutorial_semicolons.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove old notebook, script
  .github/workflows/ci.yml
  docs/scripts/feature_extractor.py
  docs/scripts/feature_extractor_mpl.py
  docs/user_guide/models_and_metrics/feature_extractor.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove script nb support
  linting/check_tutorials.py
Due: check-docstrings, check-malformed-directive

revert change in check markdown
  linting/check_markdown.py
Due: check-docstrings, check-malformed-directive

default to eval if no training
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

small tweaks to the notebooks
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

addresses Emily's review
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

add missing lines
  docs/user_guide/models_and_metrics/deep_nets.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

addresses Raffles's review
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/feather2023.md
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

addresses Daniel's review
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/feather2023.md
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

feature extractor will raise an error if no training mode
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

address Sarah review
  src/plenoptic/models/feature_extractor.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

fix failing doctest
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

move deepnet to device
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remember to close fig
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

fix failing test
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

adds filterwarnings for mpl legend warning
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

small tweaks to tutorials
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

correct store progress
  docs/user_guide/models_and_metrics/deep_nets.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates text
  docs/user_guide/models_and_metrics/deep_nets.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

removes unnecessary dtype, autoreload
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove autoreload from notebooks
  docs/user_guide/advanced/Display.md
  docs/user_guide/advanced/Synthesis_extensions.md
  docs/user_guide/models_and_metrics/Steerable_Pyramid.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/advanced_usage/ps_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_intro.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_limitations.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_matlab_differences.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_examples.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_understand_stats.md
  docs/user_guide/reproduce/Original_MAD.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds check for this stuff
  .pre-commit-config.yaml
  linting/check_magic_functions.py
  linting/check_mpl_inline.py
Due: check-docstrings, check-malformed-directive

adds how to penalty
  docs/user_guide/index.md
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates for Emily notes
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks
