Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

increase duration so converges
  src/plenoptic/_synthesize/eigendistortion.py
Due: check-docstrings, check-malformed-directive

adds doctests for io.examine_saved_synthesis
  src/plenoptic/io.py
Due: check-docstrings, check-malformed-directive

updates example text
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

adds example for convert float to int
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

iio convention
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

add necessary ellispis
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

specify eigendistortion version
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

adds mpl context
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

remove failure
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

updates feather2023 notebook
  docs/user_guide/reproduce/feather2023.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates notebook with diagnostic plots, which will be removed
  docs/user_guide/intermediate_synthesis/penalty_visual_diversity.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds external doc test
  docs/user_guide/reproduce/Original_MAD.md
  src/plenoptic/external.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds loss examples
  src/plenoptic/loss.py
Due: check-docstrings, check-malformed-directive

adds penalty examples for metamer, mad
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

remove stuff that does nothing
  docs/user_guide/reproduce/Original_MAD.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix pyrtools plot issue
  src/plenoptic/external.py
Due: check-docstrings, check-malformed-directive

updates text in metamer/mad
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

update imageio warnings
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

updates text
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

adds more links
  README.md
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

make metamers better quality
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds changes to plotting in notebook
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  pyproject.toml
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

put upper limit on number of frames, add note about saving
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix for animation
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds 2.1.1
  docs/_static/version_switcher.json
Due: none

remove comma
  docs/_static/version_switcher.json
Due: none

updates plot/ani
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_plenoptic_logo.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_polygons.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_star.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

improve altair appearance
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

switch to using cards
  docs/_static/custom.css
  docs/conf.py
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

hide cell showing all
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

reformat tags to be a big easier to parse
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove sidebar from ds index
  docs/conf.py
Due: check-docstrings, check-malformed-directive

rename category
  docs/user_guide/index.md
  docs/user_guide/penalties/datasaurus/ds_away.md
  docs/user_guide/penalties/datasaurus/ds_bullseye.md
  docs/user_guide/penalties/datasaurus/ds_circle.md
  docs/user_guide/penalties/datasaurus/ds_dots.md
  docs/user_guide/penalties/datasaurus/ds_hlines.md
  docs/user_guide/penalties/datasaurus/ds_hwidelines.md
  docs/user_guide/penalties/datasaurus/ds_index.md
  docs/user_guide/penalties/datasaurus/ds_oval.md
  docs/user_guide/penalties/datasaurus/ds_plenoptic_logo.md
  docs/user_guide/penalties/datasaurus/ds_polygons.md
  docs/user_guide/penalties/datasaurus/ds_slantdown.md
  docs/user_guide/penalties/datasaurus/ds_slantup.md
  docs/user_guide/penalties/datasaurus/ds_star.md
  docs/user_guide/penalties/datasaurus/ds_vlines.md
  docs/user_guide/penalties/datasaurus/ds_vwidelines.md
  docs/user_guide/penalties/datasaurus/ds_xshape.md
  docs/user_guide/penalties/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

simplify annealing
  docs/user_guide/penalties/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates description of model and redundant stats
  docs/user_guide/penalties/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates html theme options for moved user guide
  docs/conf.py
Due: check-docstrings, check-malformed-directive

updates dict
  plenoptic-dict.txt
Due: none

adds take home lessons
  docs/user_guide/penalties/datasaurus/ds_index.md
  docs/user_guide/penalties/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates index text
  docs/user_guide/penalties/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

smlal update to text
  docs/user_guide/penalties/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
