Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

fix failing tests
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

improve error messages
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

adds tests to flush out codecoverage
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

update doctest error
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

fix reference
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

adds badge to index, README
  README.md
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix badge rendering
  README.md
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds raise_on_checks
  linting/check_apidocs.py
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

makes LoadWarning public
  .github/workflows/ci.yml
  docs/api/debugging.rst
  linting/check_apidocs.py
  src/plenoptic/io.py
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

adds tests for metamer raise_on_checks
  src/plenoptic/_synthesize/synthesis.py
  src/plenoptic/tensors.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

fixes to metamer tests
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

adds mad tests
  docs/reference/reproducibility.md
  src/plenoptic/metric/_perceptual_distance.py
  tests/test_mad.py
  tests/test_metric.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

need separate pytest.raises
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

adds eigendist tests
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

adds note to docs
  docs/reference/reproducibility.md
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

small wording fix
  docs/reference/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

more tweaks
  docs/reference/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds note about dtype/device
  docs/reference/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds to NEW API
  src/plenoptic/_api_change.py
Due: check-docstrings, check-malformed-directive

change import-mode=importlib
  pyproject.toml
Due: none

switch back from importlib
  .github/workflows/ci.yml
  pyproject.toml
Due: none

in python 3.10, catch_warnings doesn't have category kwarg
  src/plenoptic/io.py
Due: check-docstrings, check-malformed-directive

fix failing gpu tests
  tests/test_eigendistortion.py
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

improve messaging around dtype/device behavior
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

fix failing error
  tests/test_eigendistortion.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

remove manual setting of __module__
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/models/frontend.py
  src/plenoptic/models/naive.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/process/laplacian_pyramid.py
  src/plenoptic/process/steerable_pyramid_freq.py
Due: check-docstrings, check-malformed-directive

First basic example of batch of images using imshow
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

fix load for removing __module__
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

adds basic repr for each synthesis object
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

adds warning about method changes
  docs/reference/reproducibility.md
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

be more conservative aobut module name
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

update failing doctest
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

remove dunder module test
  tests/test_api.py
Due: check-docstrings, check-malformed-directive

change : to = in repr
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

basic first example and batch examples for imshow
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

adds test_repr for each method
  tests/test_eigendistortion.py
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

move eigendist test_repr to right class
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

makes testmad nonmodule a rawstr
  tests/test_mad.py
Due: check-docstrings, check-malformed-directive

fix `` location
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

minor fix plus vrange and error examples
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive
