Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

remove PSMixture class, unneeded
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

updates ps_regression tarball
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

increase timeout duration
  jenkins/Jenkinsfile
Due: none

Update docs/reproducibility.md
  docs/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds libssl
  jenkins/Dockerfile
Due: none

try deleting tmp directory first
  jenkins/Dockerfile
  jenkins/Jenkinsfile
Due: none

move deletedir to post
  jenkins/Jenkinsfile
Due: none

split PS notebook into parts
  docs/index.md
  docs/references.bib
  docs/tutorials/models/Portilla_Simoncelli.md
  docs/tutorials/models/portilla_simoncelli/ps_basic_synthesis.md
  docs/tutorials/models/portilla_simoncelli/ps_examples.md
  docs/tutorials/models/portilla_simoncelli/ps_extensions.md
  docs/tutorials/models/portilla_simoncelli/ps_index.md
  docs/tutorials/models/portilla_simoncelli/ps_intro.md
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  docs/tutorials/models/portilla_simoncelli/ps_matlab_differences.md
  docs/tutorials/models/portilla_simoncelli/ps_understand_stats.md
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

go back to old way of handling PSRemove
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

improvements to notebooks
  docs/tutorials/models/portilla_simoncelli/ps_extensions.md
  docs/tutorials/models/portilla_simoncelli/ps_index.md
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

adds ps optimization note
  docs/tutorials/models/portilla_simoncelli/ps_optimization.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix index links
  docs/tutorials/models/portilla_simoncelli/ps_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

update docstring
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive

updates references
  docs/references.bib
Due: none

updates tips
  docs/tips.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds journal
  docs/references.bib
Due: none

fix for check pytorch version action
  .github/workflows/check_versions.yml
Due: none

update note about repro
  docs/tutorials/models/portilla_simoncelli/ps_matlab_differences.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

actually all part of first point
  docs/tutorials/models/portilla_simoncelli/ps_matlab_differences.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix regresion test linting
  CONTRIBUTING.md
  docs/tutorials/applications/Demo_Eigendistortion.md
  docs/tutorials/models/portilla_simoncelli/ps_examples.md
  docs/tutorials/models/portilla_simoncelli/ps_extensions.md
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  docs/tutorials/models/portilla_simoncelli/ps_matlab_differences.md
  docs/tutorials/models/portilla_simoncelli/ps_understand_stats.md
  linting/check_regression_tests.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

correct ps opt notebooks
  docs/tutorials/models/portilla_simoncelli/ps_optimization.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

fix loss factory doctest
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive

whoops: when loading, use loaded vars
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

fix kernel name
  docs/tutorials/models/portilla_simoncelli/ps_understand_stats.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

only run jupytext on executable notebooks
  .github/workflows/ci.yml
Due: none

update ps regression tarball
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

fix failing test
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

will warn because of LBFGS
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

add another filter for warning?
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

adds test for loss factory
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

fix new test on GPU
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

corrects zenodo version
  README.md
  docs/citation.md
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update threading for tests
  tests/conftest.py
Due: check-docstrings, check-malformed-directive

note about other images
  docs/tutorials/models/portilla_simoncelli/ps_optimization.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

adds threading ntoes
  docs/tips.md
  docs/tutorials/models/portilla_simoncelli/ps_optimization.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

change jenkins threads to 1
  jenkins/Jenkinsfile
Due: none

adds note about LBFGS
  docs/tips.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

docs should use 4 OMP threads
  jenkins/Jenkinsfile
Due: none

updates check markdown linting
  linting/check_markdown.py
Due: check-docstrings, check-malformed-directive

adds discussion of input shape
  docs/tutorials/models/Steerable_Pyramid.md
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  docs/tutorials/models/portilla_simoncelli/ps_understand_stats.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
