Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

add metamerctf repr test
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

improve metamer test
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

complete set of imshow examples
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

adds 2.0.0 to version switcher
  docs/_static/version_switcher.json
Due: none

edited contribution workflow section
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

edits to imshow examples
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

minor edits
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

added header anchors where needed
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

cleaned up redundancies and fixed text
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

edits to contrib guide text
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

ps plot representation should support dict input
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

adds first pass
  docs/api/models.rst
  src/plenoptic/models/__init__.pyi
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

doesn't need to be a plot block
  src/plenoptic/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

adds and tests better check for dictionray keys
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

improvements to update_plot/rescale_ylim
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/display.py
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

improve plot_representation
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

adds test for axes_direction
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

adds update_plot, plot_representation, Examples
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

minor edits to display examples
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

fix loss animation
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

minor edits to contrib guide
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adding a doc test for to_numpy()
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

Update tensors.py
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

adds exclude_urls option
  .github/workflows/ci.yml
Due: none

import packages
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

updates version switcher for 2.0.1
  docs/_static/version_switcher.json
Due: none

FeatureExtractorModel shouldn't raise validator warning
  src/plenoptic/validate.py
Due: check-docstrings, check-malformed-directive

fix issue with json
  docs/_static/version_switcher.json
Due: none

change example tensor to a more common size
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

updated version_scheme with current name
  pyproject.toml
Due: none

extra example for saving the metamer as an image
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

PS.update_plot supports dict as well
  src/plenoptic/models/portilla_simoncelli.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

feature extractor should have same mode as underlying model
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

fix update_plot
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

improve timm doctest
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

adds tests for feature extractor
  pyproject.toml
  src/plenoptic/conftest.py
  tests/conftest.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

fix intersphinx
  docs/conf.py
  src/plenoptic/models/feature_extractor.py
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

return_node -> return_nodes
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

fix typo
  src/plenoptic/loss.py
Due: check-docstrings, check-malformed-directive

better support ylim rescaling
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive
