Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

Add tests for `validate_penalty`
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

Ruff formatting
  src/plenoptic/tools/validate.py
  tests/test_mad.py
  tests/test_metamers.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

docstring: max_iter=10 -> 5
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

adds synthesis object description
  docs/api.rst
Due: check-malformed-directive

moves synthesis helper functions
  docs/api.rst
Due: check-malformed-directive

FrontEnd -> LGN
  docs/api.rst
Due: check-malformed-directive

set all signatures to none
  docs/api.rst
Due: check-malformed-directive

move tools/computation to canonical computations
  docs/api.rst
Due: check-malformed-directive

fix issues with autosummary
  docs/api.rst
Due: check-malformed-directive

clean up docstring, apidocs for coord transforms
  docs/api.rst
  src/plenoptic/simulate/canonical_computations/non_linearities.py
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

move fetch_data to be more accessible, updates DL_FILES
  .gitignore
  docs/tutorials/applications/Demo_Eigendistortion.md
  docs/tutorials/models/Perceptual_distance.md
  docs/tutorials/models/portilla_simoncelli/ps_basic_synthesis.md
  docs/tutorials/models/portilla_simoncelli/ps_examples.md
  docs/tutorials/models/portilla_simoncelli/ps_extensions.md
  docs/tutorials/models/portilla_simoncelli/ps_intro.md
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  docs/tutorials/models/portilla_simoncelli/ps_matlab_differences.md
  docs/tutorials/models/portilla_simoncelli/ps_understand_stats.md
  src/plenoptic/data/__init__.py
  src/plenoptic/data/fetch.py
  src/plenoptic/tools/data.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

make autodiff funcs private
  src/plenoptic/synthesize/autodiff.py
  src/plenoptic/synthesize/eigendistortion.py
Due: check-docstrings, check-malformed-directive

corrects autodiff func names
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

move synthesis object design to for developer notes
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

correct reference to DOWNLOADABLE_FILES
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

fix failing test
  tests/test_data_get.py
Due: check-docstrings, check-malformed-directive

starts switching to pydata sphinx theme
  docs/_static/custom-icon.js
  docs/_static/images/logo_flatiron_white.svg
  docs/_static/plenoptic.ico
  docs/conf.py
  docs/index.md
  pyproject.toml
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

makes convergence functions private
  docs/api.rst
  docs/api_modules.rst
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/convergence.py
Due: check-docstrings, check-malformed-directive

adds tmate for jenkins debugging
  jenkins/Dockerfile
  jenkins/Jenkinsfile
Due: none

adds whitespace around image
  docs/_static/images/example_synth.svg
Due: none

Revert "adds tmate for jenkins debugging"
  jenkins/Dockerfile
  jenkins/Jenkinsfile
Due: none

Add mention to penalty_function in Metamer docs
  docs/tutorials/intro/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

rearrange docs files
  docs/developers/synthesis.md
  docs/getting_started/conceptual_intro.md
  docs/getting_started/install.md
  docs/getting_started/jupyter.md
  docs/getting_started/quickstart.md
  docs/reference/citation.md
  docs/reference/models.md
  docs/reference/reproducibility.md
  docs/reference/tips.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/advanced/Synthesis_extensions.md
  docs/user_guide/models_and_metrics/Perceptual_distance.md
  docs/user_guide/models_and_metrics/Steerable_Pyramid.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_examples.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_index.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_intro.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_limitations.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_matlab_differences.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_optimization.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_understand_stats.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/reproduce/Original_MAD.md
  docs/user_guide/synthesis/Eigendistortions.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds new indices for structure
  docs/developers/index.md
  docs/getting_started/index.md
  docs/index.md
  docs/reference/index.md
  docs/user_guide/advanced/index.md
  docs/user_guide/index.md
  docs/user_guide/models_and_metrics/index.md
  docs/user_guide/reproduce/index.md
  docs/user_guide/synthesis/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix links broken by rearrange
  docs/developers/synthesis.md
  docs/getting_started/quickstart.md
  docs/reference/citation.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

moves contributing into docs
  CONTRIBUTING.md
  docs/developers/contributing.md
  docs/developers/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

get ps sidebar to show toctrees
  docs/user_guide/models_and_metrics/portilla_simoncelli/advanced_usage/index.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/advanced_usage/ps_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/index.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_intro.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_index.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/index.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_limitations.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_matlab_differences.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_optimization.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/index.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_examples.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_understand_stats.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix video width issue
  docs/_static/custom.css
Due: none

fix how we grep for jupytext nbs
  docs/conf.py
Due: check-docstrings, check-malformed-directive

tweaks to layout
  docs/api.rst
  docs/conf.py
  docs/index.md
  pyproject.toml
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds more see also/links between funcs
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

updates CONTRIBUTING to match new way of handling this
  CONTRIBUTING.md
Due: check-malformed-directive, check-tutorials

Sarah/Erica suggestions for metamer doctests
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

make pooch required
  docs/tutorials/applications/Original_MAD.md
  docs/tutorials/models/Perceptual_distance.md
  docs/tutorials/models/portilla_simoncelli/ps_basic_synthesis.md
  docs/tutorials/models/portilla_simoncelli/ps_examples.md
  docs/tutorials/models/portilla_simoncelli/ps_extensions.md
  docs/tutorials/models/portilla_simoncelli/ps_intro.md
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  docs/tutorials/models/portilla_simoncelli/ps_matlab_differences.md
  docs/tutorials/models/portilla_simoncelli/ps_understand_stats.md
  pyproject.toml
  src/plenoptic/data/fetch.py
  src/plenoptic/tools/external.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

reset -> close-figs
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

adds new example files to fetch
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

updates load to use cached object
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

make plot_MAD_resutls use pathlib
  src/plenoptic/tools/external.py
Due: check-docstrings, check-malformed-directive

sphinx-copybutton skip console outputs
  docs/conf.py
Due: check-docstrings, check-malformed-directive

adds reproducibility note
  docs/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks
