Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

fix incorrect xref
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive

adds discussion and test for nans
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  tests/test_models.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

filter out warning about init optimizer on load
  docs/tutorials/models/portilla_simoncelli/ps_examples.md
  docs/tutorials/models/portilla_simoncelli/ps_extensions.md
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  docs/tutorials/models/portilla_simoncelli/ps_matlab_differences.md
  docs/tutorials/models/portilla_simoncelli/ps_understand_stats.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

print nan_proof_ps
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Revert "print nan_proof_ps"
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Revert "adds discussion and test for nans"
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  tests/test_models.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

ues -> usage limitations
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Add back initial image range
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

First working regularization implementation
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Change name of regularization function
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Create regularization module
  src/plenoptic/tools/__init__.py
  src/plenoptic/tools/optim.py
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Add penalty_function to test_save_load for MADCompetition
  tests/test_mad.py
Due: check-docstrings, check-malformed-directive

Add spectral matching function
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Add more tests of penalty_functiion in load/save for MADCompetition
  tests/test_mad.py
Due: check-docstrings, check-malformed-directive

Make input image inside range (0,1) in tests
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

Remove allowed_range from image_validation
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

Add penalty_function to save and load
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Remove "Warning:" start to message
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Tweak penalty_lambda in docstrings
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Remove old range_penalty
  tests/test_mad.py
  tests/test_metamers.py
  tests/test_models.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

Remove pixel range penalization
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Ruff formatting
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

Add penalty_function to load/save tests for Metamers
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

Add regularization functionality
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Undo changes to `validate_input`
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/validate.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

Substitute allowed_range in input validation with warning
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Remove non-essential regularizations
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Add functools.partial example to penalty_function
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Fix multiline doscring >>> for ...
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Change markdown for reST docstrings
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Fix bug, change `self.metamer` for `metamer` in objective_function
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Applies Edoardo's typo fixes from code review
  docs/tutorials/models/portilla_simoncelli/ps_basic_synthesis.md
  docs/tutorials/models/portilla_simoncelli/ps_intro.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

adds groupwise relative l2, adds reweighting_dict
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive

adds note about groupwise l2
  docs/tips.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds tests, validator warning
  src/plenoptic/tools/optim.py
  src/plenoptic/tools/validate.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

tweak wording
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive

adds futurewarning for change loss_function
  src/plenoptic/synthesize/synthesis.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

adds note about futurewarning
  docs/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Remove allowed_range from validate_input. Change range error to warning
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Small docstring update
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
