Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

use built in function for convert to integer and remove dispalying image
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

remove imports in block
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

add comment for clarification
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

explanation for handling values outside [0,1] range
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

small fix to text
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

fix for class scoped fixtures
  tests/test_display.py
  tests/test_eigendistortion.py
  tests/test_mad.py
  tests/test_metamers.py
  tests/test_steerable_pyr.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

adds info about plot_representation
  docs/reference/models.md
  docs/user_guide/advanced/Display.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

pytest 9.1.0 has bug related to this
  pyproject.toml
Due: none

improve docstring exmaple
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

adds ylim support
  src/plenoptic/models/feature_extractor.py
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

fix dimensions
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

adds more tests
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

Remove filter warnings
  docs/user_guide/models_and_metrics/Perceptual_distance.md
  docs/user_guide/reproduce/Original_MAD.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

starts notebook
  docs/references.bib
  docs/user_guide/models_and_metrics/Feature_Extractor.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds macaque to fetch
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

fix: update_plot
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

fix for update_plot
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

more work on feature exctrator
  docs/reference/models.md
  docs/reference/reproducibility.md
  docs/user_guide/models_and_metrics/Feature_Extractor.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix failing doctest
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

fix failing doctest
  src/plenoptic/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

add ResNet metamers to fetch
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

add script notebooks
  linting/check_tutorials.py
Due: check-docstrings, check-malformed-directive

add test for additional docs
  .github/workflows/ci.yml
Due: none

moves macaque into data dir
  docs/api/images.rst
  src/plenoptic/data/__init__.pyi
  src/plenoptic/data/_fetch.py
  src/plenoptic/data/images.py
  src/plenoptic/data/macaca_nigra_self-portrait.jpg
  tests/test_data_get.py
Due: check-docstrings, check-malformed-directive

updates feature extractor notebook
  docs/conf.py
  docs/scripts/feature_extractor.py
  docs/scripts/feature_extractor_mpl.py
  docs/user_guide/models_and_metrics/Feature_Extractor.md
  linting/check_markdown.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

get linting working
  docs/user_guide/models_and_metrics/feature_extractor.md
  linting/check_tutorials.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update eigendistortion torchvision examples
  docs/user_guide/models_and_metrics/feature_extractor.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/synthesis/Eigendistortions.md
  src/plenoptic/plot/eigendistortion.py
  tests/conftest.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix some failing tests
  pyproject.toml
  src/plenoptic/data/images.py
  src/plenoptic/plot/eigendistortion.py
Due: check-docstrings, check-malformed-directive

make test more strict
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

change cropping so they align
  docs/scripts/feature_extractor.py
  docs/user_guide/models_and_metrics/feature_extractor.md
  src/plenoptic/data/images.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove 2d warning
  src/plenoptic/validate.py
Due: check-docstrings, check-malformed-directive

raise importerror if torchvision not found
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

this wasn't used, not sure what i was trying to do with it
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

adds data.macque to NEW
  src/plenoptic/_api_change.py
Due: check-docstrings, check-malformed-directive

move models to device
  tests/conftest.py
Due: check-docstrings, check-malformed-directive

fix for update plot
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

switch model to eval
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

do all 12k
  docs/user_guide/models_and_metrics/feature_extractor.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

parrot back to 254, since that's what's in the paper
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  tests/conftest.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

load on available device
  docs/scripts/feature_extractor.py
Due: check-docstrings, check-malformed-directive

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
