Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

Formatting Metamer class reference
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Change penalize_range path in api docs
  docs/api/optimization.rst
Due: check-malformed-directive

wrong revision specified
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

Update expected range warning message
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

Add expected range warning to test_berardino_vgg16
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

Update precision test warning message
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

Fix typo in warning
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Update expected warning for range in tests
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

Add test for complex output penalty_function check
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

Fix missing fstring
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Add expected range warning in additional spot
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

Update docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/MAD_Competition_2.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update docs/user_guide/synthesis/Metamer.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Update src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/mad_competition.py
Due: check-docstrings, check-malformed-directive

Update src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Update src/plenoptic/tools/validate.py
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Update non-float penalty output expected warning message
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

Fix typo bug
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Apply suggestions from code review
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

updates ps_regression files
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

try cuda 12.8 build, matching jenkins node
  jenkins/Dockerfile
Due: none

don't run in parallel, since that causes the failure
  jenkins/Jenkinsfile
Due: none

try 2.11
  jenkins/Dockerfile
Due: none

cuda 13.0
  jenkins/Dockerfile
Due: none

back to 2.10 and cuda 12.8
  jenkins/Dockerfile
Due: none

fix failing zizmor
  .github/workflows/ci.yml
Due: none

fix merge
  docs/api/optimization.rst
  docs/getting_started/quickstart.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/Metamer.md
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/regularization.py
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/tools/__init__.py
  src/plenoptic/validate.py
  tests/test_mad.py
  tests/test_metamers.py
  tests/test_models.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

more fixes for merge
  docs/reference/migration_guide.md
  docs/reference/reproducibility.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/Metamer.md
  src/plenoptic/_api_change.py
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds version correctly to work with lazy loader
  src/plenoptic/__init__.py
  src/plenoptic/__init__.pyi
  src/plenoptic/version.py
Due: check-docstrings, check-malformed-directive

remove environment.yml
  environment.yml
Due: none

remove old links
  README.md
  docs/developers/contributing.md
  docs/getting_started/install.md
  docs/getting_started/jupyter.md
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds penalties/_penalties
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

adds tests
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

updates docs
  docs/developers/synthesis.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds test for LBFGS, MetamerCTF
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

udpates doscstring/annotation
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

put imgs for closure test on DEVICE
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

bugfix for mad penalties
  src/plenoptic/synthesize/mad_competition.py
Due: check-docstrings, check-malformed-directive

change for penalties on load of old object
  src/plenoptic/data/fetch.py
  src/plenoptic/synthesize/synthesis.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
