Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

fixes imports for restructure
  src/plenoptic/data/images.py
  src/plenoptic/external.py
  src/plenoptic/metric/perceptual_distance.py
  src/plenoptic/model_components/laplacian_pyramid.py
  src/plenoptic/model_components/non_linearities.py
  src/plenoptic/model_components/steerable_pyramid_freq.py
  src/plenoptic/models/frontend.py
  src/plenoptic/models/naive.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/optim.py
  src/plenoptic/plot/display.py
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
  src/plenoptic/synthesize/eigendistortion.py
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
  src/plenoptic/validate.py
Due: check-docstrings, check-malformed-directive

adds set seed
  src/plenoptic/__init__.pyi
Due: none

more docstrings
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

another example
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

fix comment
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

data/data.py -> tensors.py
  src/plenoptic/__init__.pyi
  src/plenoptic/data/images.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/display.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
  src/plenoptic/synthesize/synthesis.py
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

fix metric init.pyi
  src/plenoptic/metric/__init__.pyi
Due: none

adds __all__ and __dir__ to all files
  src/plenoptic/convergence.py
  src/plenoptic/data/images.py
  src/plenoptic/data/synthetic_images.py
  src/plenoptic/external.py
  src/plenoptic/io.py
  src/plenoptic/metric/classes.py
  src/plenoptic/metric/model_metric.py
  src/plenoptic/metric/naive.py
  src/plenoptic/metric/perceptual_distance.py
  src/plenoptic/model_components/convolutions.py
  src/plenoptic/model_components/filters.py
  src/plenoptic/model_components/laplacian_pyramid.py
  src/plenoptic/model_components/non_linearities.py
  src/plenoptic/model_components/signal.py
  src/plenoptic/model_components/stats.py
  src/plenoptic/model_components/steerable_pyramid_freq.py
  src/plenoptic/models/frontend.py
  src/plenoptic/models/naive.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/display.py
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
  src/plenoptic/synthesize/autodiff.py
  src/plenoptic/synthesize/eigendistortion.py
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
  src/plenoptic/tensors.py
Due: check-docstrings, check-malformed-directive

more examples
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

addressing comments
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

add convolutions do same_padding examples
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

add blurp about using padding in other functions
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

change how api docs are structured
  .gitignore
  docs/Makefile
  docs/_templates/module_source_order.rst.jinja
  docs/_templates/synthesis_module.rst.jinja
  docs/_templates/synthesis_object.rst.jinja
  docs/api.rst
  docs/api/components.rst
  docs/api/debugging.rst
  docs/api/display.rst
  docs/api/external.rst
  docs/api/images.rst
  docs/api/metrics.rst
  docs/api/models.rst
  docs/api/optimization.rst
  docs/api/synthesis.rst
  docs/api/synthesis_helper.rst
  docs/api/validation.rst
  docs/api_modules.rst
  docs/conf.py
  docs/index.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update apidoc links for new changes
  docs/reference/citation.md
  docs/user_guide/synthesis/Metamer.md
  src/plenoptic/simulate/models/frontend.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates linting, docs for these changes
  .github/pull_request_template.md
  docs/developers/contributing.md
  linting/check_apidocs.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds new jinja template
  docs/_templates/torch_module.rst.jinja
Due: none

change name/fullname on autosummary pages
  docs/_templates/autosummary/base.rst
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/conf.py
Due: check-docstrings, check-malformed-directive

adds torch module note
  docs/_templates/torch_module.rst.jinja
Due: none

adds cards about toctrees
  docs/developers/index.md
  docs/getting_started/index.md
  docs/reference/index.md
  docs/user_guide/index.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/ps_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

replace os.path.join with pathlib in tests
  tests/test_eigendistortion.py
  tests/test_mad.py
  tests/test_metamers.py
  tests/test_metric.py
Due: check-docstrings, check-malformed-directive

replaces other pos.path with pathlib
  docs/conf.py
  tests/test_metric.py
Due: check-docstrings, check-malformed-directive

remove unnecessary comment
  docs/conf.py
Due: check-docstrings, check-malformed-directive

removes unnecessary sys.path modification in conf.py
  docs/conf.py
Due: check-docstrings, check-malformed-directive

fix typo
  docs/conf.py
Due: check-docstrings, check-malformed-directive

fix install/citation links
  README.md
Due: check-malformed-directive, check-tutorials

docstrings
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

links
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

only downsample in list
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

correts version switcher json url
  docs/_static/version_switcher.json
Due: none

fix sentences
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

remove unneeded plot blocks
  src/plenoptic/tools/conv.py
Due: check-docstrings, check-malformed-directive

adds version switcher
  docs/conf.py
Due: check-docstrings, check-malformed-directive

adds ability to skip matplotlib sphinx directive
  docs/conf.py
  docs/developers/contributing.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

removes display helper functions from public API
  docs/api/display.rst
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

move display functions next to synthesis helpers
  docs/conf.py
Due: check-docstrings, check-malformed-directive

use fullname instead of name for title
  docs/_templates/autosummary/base.rst
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/_templates/synthesis_object.rst.jinja
  docs/_templates/torch_module.rst.jinja
Due: check-malformed-directive

renames synth plot funcs, moves into plot namespace
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

adds see also throuhgout plot
  src/plenoptic/plot/display.py
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

adds check import step
  .github/workflows/ci.yml
Due: none

remove matplotlib inline
  docs/getting_started/quickstart.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/models_and_metrics/Steerable_Pyramid.md
  docs/user_guide/reproduce/Original_MAD.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
