Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

use saved metamer in doctests where possible
  src/plenoptic/data/fetch.py
  src/plenoptic/synthesize/metamer.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

updates torch version
  jenkins/Dockerfile
Due: none

adds warning ignores
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

python 3.11 -> 3.12
  jenkins/Dockerfile
  jenkins/Jenkinsfile
Due: none

bugfix in test
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

fix how API looks
  .github/pull_request_template.md
  docs/_templates/synthesis_object.rst.jinja
  docs/api.rst
  docs/conf.py
  docs/developers/contributing.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

small change in text
  docs/api.rst
Due: check-malformed-directive

remove remarks about pooch being optional
  docs/install.md
  docs/jupyter.md
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

removes more unnecessary code
  src/plenoptic/simulate/models/portilla_simoncelli.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

change context to fix failing docs build
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

okay actual fix
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

improvements to index pages
  docs/getting_started/index.md
  docs/getting_started/install.md
  docs/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

couple docstring examples
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

docstring fixes
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

fix contributing.md sphinx xrefs
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

rename mask to disk in docstring
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

fix name
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

note about versions in citation guide
  docs/reference/citation.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds text to most index pages
  docs/developers/index.md
  docs/getting_started/index.md
  docs/reference/index.md
  docs/user_guide/advanced/index.md
  docs/user_guide/index.md
  docs/user_guide/models_and_metrics/index.md
  docs/user_guide/reproduce/index.md
  docs/user_guide/synthesis/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

starts version switcher
  docs/_static/version_switcher.json
  docs/conf.py
  docs/developers/contributing.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

docstring example for add_noise
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

correct outputs
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

capture outputs in docstring
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

example for modulate phase
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

return type
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

Remove MAD from metamer tutorial
  docs/tutorials/intro/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Remove functools from tutorial
  docs/tutorials/intro/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Add documentation to MADCompetition tutorials
  docs/tutorials/intro/MAD_Competition_1.md
  docs/tutorials/intro/MAD_Competition_2.md
  docs/tutorials/intro/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Remove functools from penatly_function default
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Improve penalty_function docstring
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Clean up 4d tensor check in PS
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

Add $'s to docstring
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Print metamer pixel histogram
  docs/tutorials/intro/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

Use clearer sets methods
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Change regularization docstring example
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Add defaults to extracting saved dict elements
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

Small formatting
  src/plenoptic/tools/regularization.py
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Add reproducibility sentence
  docs/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Small formating
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
