Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

fix penalty/loss function docs, load
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

generate migration guide tables on build
  .gitignore
  docs/conf.py
  docs/reference/migration_guide.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds api tests, small changes
  src/plenoptic/__init__.py
  src/plenoptic/_api_change.py
  src/plenoptic/data/__init__.pyi
  src/plenoptic/data/_fetch.py
  src/plenoptic/external.py
  src/plenoptic/metric/__init__.pyi
  src/plenoptic/metric/_model_metric.py
  src/plenoptic/metric/_naive.py
  src/plenoptic/metric/_perceptual_distance.py
  tests/conftest.py
  tests/test_api.py
Due: check-docstrings, check-malformed-directive

adds warning to readme
  README.md
Due: check-malformed-directive, check-tutorials

moves top level funcs to separate section
  docs/api/images.rst
  docs/api/optimization.rst
  docs/api/top_level.rst
  docs/api/validation.rst
  docs/conf.py
Due: check-docstrings, check-malformed-directive

small update to synthesis docs
  docs/developers/synthesis.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

rename synth plotting functions
  src/plenoptic/_api_change.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/display.py
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

updates in tests
  src/plenoptic/plot/mad_competition.py
  tests/test_display.py
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

fixes in docs
  docs/developers/synthesis.md
  docs/getting_started/quickstart.md
  docs/reference/migration_guide.md
  docs/reference/tips.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/advanced/Synthesis_extensions.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/synthesis/Eigendistortions.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update display.rst for plot rename
  docs/api/display.rst
Due: check-malformed-directive

update plot pyi for plot func rename
  src/plenoptic/plot/__init__.pyi
Due: none

adds currentmodule back to validate
  docs/api/validation.rst
Due: check-malformed-directive

fix top-level api gen
  docs/api/top_level.rst
Due: check-malformed-directive

more improvement to toplevel api
  docs/api/top_level.rst
Due: check-malformed-directive

move migration script to separate tool
  docs/reference/migration_guide.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update discussion description
  docs/reference/migration_guide.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

add minimum versions for jupyterlab/_myst
  pyproject.toml
Due: none

updates jupyter install instructions
  docs/getting_started/jupyter.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates module doccstrings
  src/plenoptic/optim.py
  src/plenoptic/regularization.py
Due: check-docstrings, check-malformed-directive

move optim.py -> loss.py
  src/plenoptic/loss.py
Due: check-docstrings, check-malformed-directive

updates optim -> loss
  docs/api/optimization.rst
  docs/getting_started/quickstart.md
  docs/reference/reproducibility.md
  docs/reference/tips.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/advanced_usage/ps_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_limitations.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_matlab_differences.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_optimization.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_examples.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_understand_stats.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/Metamer.md
  src/plenoptic/__init__.pyi
  src/plenoptic/_api_change.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
  src/plenoptic/loss.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/metamer.py
  src/plenoptic/validate.py
  tests/test_mad.py
  tests/test_metamers.py
  tests/test_models.py
  tests/test_tools.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds local toc, updates discussion link
  docs/reference/migration_guide.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

more mgiration change text
  docs/reference/migration_guide.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

regularization -> regularize
  docs/api/optimization.rst
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/Metamer.md
  src/plenoptic/__init__.pyi
  src/plenoptic/_api_change.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
  src/plenoptic/regularize.py
  src/plenoptic/validate.py
  tests/test_mad.py
  tests/test_metamers.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

model_components -> process
  docs/api/components.rst
  docs/conf.py
  docs/getting_started/quickstart.md
  docs/reference/citation.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/models_and_metrics/Perceptual_distance.md
  docs/user_guide/models_and_metrics/Steerable_Pyramid.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_limitations.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/reproduce/Original_MAD.md
  docs/user_guide/synthesis/Eigendistortions.md
  src/plenoptic/__init__.py
  src/plenoptic/__init__.pyi
  src/plenoptic/_api_change.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/metric/_perceptual_distance.py
  src/plenoptic/models/naive.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/display.py
  src/plenoptic/process/__init__.py
  src/plenoptic/process/__init__.pyi
  src/plenoptic/process/convolutions.py
  src/plenoptic/process/filters.py
  src/plenoptic/process/laplacian_pyramid.py
  src/plenoptic/process/non_linearities.py
  src/plenoptic/process/signal.py
  src/plenoptic/process/stats.py
  src/plenoptic/process/steerable_pyramid_freq.py
  tests/conftest.py
  tests/test_display.py
  tests/test_metric.py
  tests/test_models.py
  tests/test_steerable_pyr.py
  tests/test_tools.py
  tests/utils.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

moves metric components into process module
  docs/api/components.rst
  docs/reference/citation.md
  docs/user_guide/models_and_metrics/Perceptual_distance.md
  src/plenoptic/_api_change.py
  src/plenoptic/metric/__init__.pyi
  src/plenoptic/metric/_perceptual_distance.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/process/DN_filts.npy
  src/plenoptic/process/DN_sigmas.npy
  src/plenoptic/process/__init__.pyi
  src/plenoptic/process/metric.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates components api page
  docs/api/components.rst
Due: check-malformed-directive

corrects api link
  src/plenoptic/process/metric.py
Due: check-docstrings, check-malformed-directive

components.rst -> process.rst
  README.md
  docs/api/process.rst
  docs/conf.py
  docs/getting_started/install.md
  src/plenoptic/process/__init__.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

corrects remaining po.tools
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_limitations.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_matlab_differences.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_examples.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  linting/check_markdown.py
  tests/conftest.py
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

more name issues from merge
  docs/developers/contributing.md
  src/plenoptic/models/naive.py
  tests/conftest.py
  tests/test_display.py
  tests/test_metamers.py
  tests/test_metric.py
  tests/utils.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix more merge issues
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

fix issue with penalties
  src/plenoptic/_synthesize/synthesis.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

adds tensor histogram plot, update synth pixel values to use it
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/display.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

adds histogram to apidocs
  docs/api/display.rst
Due: check-malformed-directive

adds validate_penalty to apidocs
  docs/api/validation.rst
Due: check-malformed-directive

make deprecated plotting functions private
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/display.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

fix warning?
  README.md
Due: check-malformed-directive, check-tutorials

fix check_apidocs
  .pre-commit-config.yaml
  linting/check_apidocs.py
Due: check-docstrings, check-malformed-directive
