Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

don't pass filenames
  .pre-commit-config.yaml
Due: none

fix api link
  docs/getting_started/install.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

jenkins: migrate to new k8s-based system
  jenkins/Dockerfile
  jenkins/Jenkinsfile
Due: none

remove duplciate plot
  docs/user_guide/synthesis/MAD_Competition_2.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds synthesis_loss (replacing mad/metamer_loss)
  docs/api/display.rst
  src/plenoptic/data/_fetch.py
  src/plenoptic/plot/__init__.pyi
  tests/test_display.py
  tests/test_metamers.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

adds plot synthesis file
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

correct test name
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

moves eigendist display tests
  tests/test_display.py
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

adds synthesis_histogram
  docs/api/display.rst
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/display.py
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

adds TypeError for synthesis_plot
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

jenkins: apparently needs v100, failed on a100
  jenkins/Jenkinsfile
Due: none

adds informative error, test for batch_idx/channel_idx out of range
  src/plenoptic/plot/display.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

adds synthesis_imshow
  docs/api/display.rst
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

not the ratio
  src/plenoptic/plot/metamer.py
Due: check-docstrings, check-malformed-directive

add alpha default check
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

fix pypi icon?
  docs/conf.py
Due: check-docstrings, check-malformed-directive

capitalize
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

adds synthesis_status
  docs/api/display.rst
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

updates examples
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

corrects docstring
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

adds one more example
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

tweaks to docstring
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

removes unnecessary code
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

rearrange animshow docstring notes
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

updates example mad, with store_progress
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

adds animshow
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

prepend _ to Synthesis, OptimizedSynthesis
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/_synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

fix check_apidocs
  docs/api/display.rst
  linting/check_apidocs.py
Due: check-docstrings, check-malformed-directive

have imshow/animshow raise more informative shapeerrors
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

adds close figure teardown
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

updates, adds tests for synthesis_status/animshow
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

udpates api change
  docs/conf.py
  docs/reference/migration_guide.md
  src/plenoptic/_api_change.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

display.rst -> plot.rst
  docs/api/plot.rst
  docs/conf.py
Due: check-docstrings, check-malformed-directive

updates plot.rst
  docs/api/plot.rst
Due: check-malformed-directive

adds teardown fixture to tests
  tests/test_display.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

adds conftest for doctests
  linting/check_apidocs.py
  src/plenoptic/conftest.py
Due: check-docstrings, check-malformed-directive

removes assignments
  tests/test_display.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

remove old plotting functions and updates references to them
  docs/developers/synthesis.md
  docs/getting_started/quickstart.md
  docs/reference/tips.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/advanced/Synthesis_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_understand_stats.md
  docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/Metamer.md
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/models/portilla_simoncelli.py
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/display.py
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/metamer.py
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

continue doctests on failure
  .github/workflows/ci.yml
Due: none

Revert "adds close figure teardown"
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
