Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

updates notes
  docs/user_guide/intermediate_synthesis/datasaurus/index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds bullseye
  docs/user_guide/intermediate_synthesis/datasaurus/bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/index.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds hlines
  docs/user_guide/intermediate_synthesis/datasaurus/hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/index.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

renames files
  docs/user_guide/index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds vlines
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds test at bottom of notebooks, switch to cpu for tests
  docs/user_guide/intermediate_synthesis/datasaurus/ds_bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds slantup
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds slantdown
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds xshape
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds dots
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds away
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds star
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_star.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Change lowpass shift order to match Matlab
  src/plenoptic/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

adds oval
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds polygons
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_polygons.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds hwidelines
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds vwidelines
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vwidelines.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix tests, issue with build
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove DEVICE
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_polygons.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_star.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

move eval into init
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_bullseye.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_hwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_oval.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_polygons.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantdown.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_slantup.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_star.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vlines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_vwidelines.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

first pass at index summary
  docs/user_guide/index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_dots.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates ds index
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates in response to Sarah and Raffles's comments
  src/plenoptic/plot/display.py
Due: check-docstrings, check-malformed-directive

rearrange index, adds more links
  docs/getting_started/index.md
  docs/getting_started/quickstart.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds strcuture
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update MAX_ITER to match other notebooks
  docs/user_guide/intermediate_synthesis/how_to_penalty.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds plenoptic_logo.pt to datasaurus tarball
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

adds plenoptic logo
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
  docs/user_guide/intermediate_synthesis/datasaurus/ds_plenoptic_logo.md
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

added name to CITATION.cff
  CITATION.cff
Due: none

add datasaurus metamers to DOWNLOADABLE_FILES
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

starts writing ds index
  docs/references.bib
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds examples to mad
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

fix failures for plot directive
  src/plenoptic/_synthesize/mad_competition.py
Due: check-docstrings, check-malformed-directive

finish first pass at ds index
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

add admonition about efficiency
  docs/user_guide/intermediate_synthesis/datasaurus/ds_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates away text
  docs/user_guide/intermediate_synthesis/datasaurus/ds_away.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

udpates xshape text
  docs/user_guide/intermediate_synthesis/datasaurus/ds_xshape.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates logo text
  docs/user_guide/intermediate_synthesis/datasaurus/ds_plenoptic_logo.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds circle
  docs/user_guide/intermediate_synthesis/datasaurus/ds_circle.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks
