Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

check-regression-tests:
  language: system
  name: Ensure regression tests and notebook are matched
  entry: python linting/check_regression_tests.py tests/test_uploaded_files.py

Revert "updates, adds tests for synthesis_status/animshow"
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

renames alpha to distortion_scale
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/synthesis/Eigendistortions.md
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

correct update
  src/plenoptic/plot/mad_competition.py
Due: check-docstrings, check-malformed-directive

updates eigendistortion_imshow_all to be more consistent with other plot functions
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/synthesis/Eigendistortions.md
  src/plenoptic/plot/eigendistortion.py
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

removes plt.close from test_display
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

synthesis_loss: rename axes arg -> ax to be consistent
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

adds more eigendistortion_imshow_all examples
  src/plenoptic/data/_fetch.py
  src/plenoptic/plot/eigendistortion.py
  tests/conftest.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

some more doc/strings updates
  docs/reference/migration_guide.md
  src/plenoptic/plot/mad_competition.py
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix failing test: synthesis_plot only returns fig
  docs/user_guide/advanced/Display.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix failing test: synthesis_loss accepts ax (not axes)
  docs/user_guide/synthesis/MAD_Competition_2.md
  src/plenoptic/plot/mad_competition.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

use fixture to pre-download from torchvision
  docs/developers/contributing.md
  src/plenoptic/conftest.py
  src/plenoptic/plot/eigendistortion.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix failing api test
  tests/test_api.py
Due: check-docstrings, check-malformed-directive

fix failing cuda tests
  tests/test_metamers.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

updates example_mad on OSF
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

more fixes for gpu tests
  tests/test_metamers.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

switch to using einstein instead of curie for example_mad
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

update example mad files
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

change eigendistortion_color to use center of color wheel
  tests/conftest.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

fix: example_mad now uses einstein instead of curie
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

adds linting for checking semicolons in tutorials
  linting/check_tutorial_semicolons.py
Due: check-docstrings, check-malformed-directive

updates to noxfile
  .pre-commit-config.yaml
  linting/check_mpl_inline.py
  noxfile.py
Due: check-docstrings, check-malformed-directive

adds new linting to precommit/noxfile
  .pre-commit-config.yaml
  linting/check_tutorial_semicolons.py
  noxfile.py
Due: check-docstrings, check-malformed-directive

updates pyproject.toml rules
  pyproject.toml
Due: none

make sure all on DEVICE
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

dont' check for semicolons with assignment
  linting/check_tutorial_semicolons.py
Due: check-docstrings, check-malformed-directive

updates eigendistortion color on OSF
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

fix failing doctest
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

updates semicolon linting
  linting/check_tutorial_semicolons.py
Due: check-docstrings, check-malformed-directive

adds semicolons where neede
  docs/getting_started/quickstart.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/advanced/Synthesis_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/synthesis/Eigendistortions.md
  docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

udpate name
  .pre-commit-config.yaml
  linting/fix_tutorial_semicolons.py
Due: check-docstrings, check-malformed-directive

remove pyproject config
  pyproject.toml
Due: none

add jupytext as addt dependency
  .pre-commit-config.yaml
Due: none

jenkins: use credentials binding instead of function
  jenkins/Jenkinsfile
Due: none

udpate pooch version, remove filterwarning
  pyproject.toml
Due: none

fix incorrect link
  src/plenoptic/plot/mad_competition.py
Due: check-docstrings, check-malformed-directive

updates docstrings
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

more eigendist exception tests
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

improves synthesis_status/animshow kwargs
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

synthesis_animshow -> synthesis_animate
  docs/api/plot.rst
  docs/developers/synthesis.md
  docs/getting_started/quickstart.md
  docs/reference/tips.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/synthesis/Metamer.md
  src/plenoptic/_api_change.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/plot/__init__.pyi
  src/plenoptic/plot/display.py
  src/plenoptic/plot/metamer.py
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

change how we handl eylim rescale
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
  check-regression-tests: any of: ^docs/tutorials and \.(md|markdown|mdown)$
