Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

Fix stop criterion test to check for convergence
  tests/test_mad.py
Due: check-docstrings, check-malformed-directive

Tidy up documentation
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Docstring wording change
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

adds tools to apidocs
  docs/api.rst
  docs/api_modules.rst
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
  src/plenoptic/tools/display.py
  src/plenoptic/tools/signal.py
Due: check-docstrings, check-malformed-directive

adds check_apidocs
  .pre-commit-config.yaml
  linting/check_apidocs.py
Due: check-docstrings, check-malformed-directive

fix sphinx warnings
  docs/_templates/synthesis_object.rst.jinja
  docs/citation.md
  docs/synthesis.md
  docs/tutorials/advanced/Display.md
  docs/tutorials/intro/Metamer.md
  docs/tutorials/models/portilla_simoncelli/ps_basic_synthesis.md
  docs/tutorials/models/portilla_simoncelli/ps_limitations.md
  src/plenoptic/data/fetch.py
  src/plenoptic/metric/perceptual_distance.py
  src/plenoptic/simulate/models/naive.py
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/convergence.py
  src/plenoptic/tools/display.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

make nitpicky, raise on warn
  docs/Makefile
  docs/conf.py
  docs/index.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix more sphinx warnings
  docs/tutorials/intro/MAD_Competition_2.md
  docs/tutorials/models/portilla_simoncelli/ps_optimization.md
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

remove T option from jenkins docs build (now in makefile
  jenkins/Jenkinsfile
Due: none

updates contributing
  CONTRIBUTING.md
Due: check-malformed-directive, check-tutorials

clear _build on build, move jupyter cache outside that folder
  .gitignore
  docs/Makefile
  docs/conf.py
Due: check-docstrings, check-malformed-directive

clean up crossrefs using tilde syntax
  docs/reproducibility.md
  docs/synthesis.md
  docs/tips.md
  docs/tutorials/advanced/Display.md
  docs/tutorials/advanced/Synthesis_extensions.md
  docs/tutorials/applications/Demo_Eigendistortion.md
  docs/tutorials/intro/Eigendistortions.md
  docs/tutorials/intro/MAD_Competition_1.md
  docs/tutorials/intro/MAD_Competition_2.md
  docs/tutorials/intro/Metamer.md
  docs/tutorials/models/Perceptual_distance.md
  docs/tutorials/models/Steerable_Pyramid.md
  docs/tutorials/quickstart.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

tell sphinx to ignore jupyter cache
  docs/conf.py
Due: check-docstrings, check-malformed-directive

update pr request
  .github/pull_request_template.md
Due: check-malformed-directive, check-tutorials

question is not an admonition class
  docs/tutorials/models/portilla_simoncelli/ps_examples.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

adds link to metamers
  docs/tutorials/models/portilla_simoncelli/ps_index.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

small changes to explain textures
  docs/tutorials/models/portilla_simoncelli/ps_intro.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

add better default for ps plot figsize
  docs/tutorials/advanced/Display.md
  docs/tutorials/models/portilla_simoncelli/ps_basic_synthesis.md
  docs/tutorials/models/portilla_simoncelli/ps_matlab_differences.md
  docs/tutorials/models/portilla_simoncelli/ps_understand_stats.md
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

adds examples to PS class
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

switch ps doctests to using reptile skin
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

adds doctests to metamer.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Remove `validate_input` from PortillaSimoncelli
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

updates jenkins torch version
  jenkins/Dockerfile
Due: none

remove unnecessary doctest note (set in toml)
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

adds config options
  .github/workflows/ci.yml
  docs/Makefile
  docs/conf.py
Due: check-docstrings, check-malformed-directive

adds reset to plot context
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

remove unnecessary comment
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
Due: check-docstrings, check-malformed-directive

gets metamer doctests looking right
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

adds numpydoc ignore EX01 to portilla simoncelli
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

adds numpydoc ignore EX01
  src/plenoptic/data/fetch.py
  src/plenoptic/metric/model_metric.py
  src/plenoptic/metric/naive.py
  src/plenoptic/metric/perceptual_distance.py
  src/plenoptic/simulate/canonical_computations/filters.py
  src/plenoptic/simulate/canonical_computations/laplacian_pyramid.py
  src/plenoptic/simulate/canonical_computations/non_linearities.py
  src/plenoptic/simulate/canonical_computations/steerable_pyramid_freq.py
  src/plenoptic/simulate/models/frontend.py
  src/plenoptic/simulate/models/naive.py
Due: check-docstrings, check-malformed-directive

change doctest CI config
  .github/workflows/ci.yml
Due: none

fix failing metamer doctests
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Add `validate_penalty` function
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Add test checking `penalty_function` affects synthesis
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

Add test checking penalty_function affects synthesis
  tests/test_mad.py
Due: check-docstrings, check-malformed-directive

small indent fix
  pyproject.toml
Due: none

fix failing display_metamer test
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

explicitly import matplotlib when we call it directly
  src/plenoptic/simulate/models/portilla_simoncelli.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

adds some notes to CONTRIBUTING about doctests
  CONTRIBUTING.md
Due: check-malformed-directive, check-tutorials

fix failing
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive
