Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

add feature extractor to api change.new
  src/plenoptic/_api_change.py
Due: check-docstrings, check-malformed-directive

update versions
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

correct crop
  src/plenoptic/plot/eigendistortion.py
Due: check-docstrings, check-malformed-directive

correct feature extrcat test
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

correct validate test
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

remove test, docstring about output dimensions
  src/plenoptic/validate.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

fix failing test
  docs/user_guide/models_and_metrics/feature_extractor.md
  tests/test_models.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds admonitions about extra dependencies
  src/plenoptic/models/feature_extractor.py
Due: check-docstrings, check-malformed-directive

figured out why docss was differently
  docs/scripts/feature_extractor.py
  docs/user_guide/models_and_metrics/feature_extractor.md
  src/plenoptic/data/_fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fixes for imgs
  src/plenoptic/data/images.py
Due: check-docstrings, check-malformed-directive

just get max
  docs/scripts/feature_extractor.py
Due: check-docstrings, check-malformed-directive

correct literalinclude lines
  docs/user_guide/models_and_metrics/feature_extractor.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

udpates resnet on osf
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

map_location=cpu always
  docs/scripts/feature_extractor.py
Due: check-docstrings, check-malformed-directive

correct admonition syntax
  docs/user_guide/models_and_metrics/feature_extractor.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

correct lines again
  docs/user_guide/models_and_metrics/feature_extractor.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

correct lines
  docs/user_guide/models_and_metrics/feature_extractor.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

use end-at/start-at
  docs/scripts/feature_extractor.py
  docs/user_guide/models_and_metrics/feature_extractor.md
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix for mpl
  docs/scripts/feature_extractor.py
Due: check-docstrings, check-malformed-directive

updates
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

jenkins: don't build weekly on other branches; fix email
  jenkins/Jenkinsfile
Due: none

jenkins: fix main properties
  jenkins/Jenkinsfile
Due: none

fix reproducibility (hopefully)
  docs/reference/reproducibility.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix xref
  docs/reference/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates metamers
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

add switching code block for ssh vs https clone
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fixing formatting errors
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

final update
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

specify berardino vgg version
  src/plenoptic/data/_fetch.py
Due: check-docstrings, check-malformed-directive

fixed console type for code block
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove sync
  docs/developers/contributing.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

rename FeatureExtractorModel -> DeepNetFeatures
  docs/api/models.rst
  docs/scripts/feature_extractor.py
  docs/user_guide/models_and_metrics/feature_extractor.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/synthesis/Eigendistortions.md
  src/plenoptic/_api_change.py
  src/plenoptic/models/__init__.pyi
  src/plenoptic/models/feature_extractor.py
  src/plenoptic/plot/eigendistortion.py
  tests/conftest.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds separate deep net docs page (splitting up original one)
  docs/user_guide/models_and_metrics/deep_nets.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_optimization.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/synthesis/Eigendistortions.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

animshow will warn about clipping specially
  src/plenoptic/plot/display.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

remove this filter because it doesn't do anything
  docs/user_guide/synthesis/Eigendistortions.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

makes it work for synth function
  src/plenoptic/plot/display.py
  src/plenoptic/plot/synthesis.py
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

removes print debugging statements
  src/plenoptic/plot/display.py
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

fix doctest
  src/plenoptic/plot/synthesis.py
Due: check-docstrings, check-malformed-directive

add filterwarnings for new warning
  tests/test_display.py
Due: check-docstrings, check-malformed-directive

replace literal with str
  src/plenoptic/_synthesize/mad_competition.py
Due: check-docstrings, check-malformed-directive
