Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks, check-regression-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.9.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]
    - id: check-regression-tests
      language: system
      name: Ensure regression tests and notebook are matched
      types_or: ["markdown"]
      entry: python linting/check_regression_tests.py tests/test_uploaded_files.py
      files: ^docs/tutorials

- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in pyproject.toml
  rev: v2.4.1
  hooks:
    - id: codespell
      additional_dependencies:
        - tomli; python_version<'3.11'

fix old compat test
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

adds note about penalties attribute
  docs/reference/reproducibility.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates ps_regression
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

fix typo in expected value
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

fix for mad load
  src/plenoptic/synthesize/mad_competition.py
Due: check-docstrings, check-malformed-directive

fix penalty function reference
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/MAD_Competition_2.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix return empty tensor
  src/plenoptic/synthesize/mad_competition.py
Due: check-docstrings, check-malformed-directive

fix for LBFGS and related
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

fix failing grad flow test?
  tests/conftest.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

text updates for Edoardo's comments
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/synthesize/synthesis.py
Due: check-docstrings, check-malformed-directive

updates docs
  docs/developers/synthesis.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix map_location
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

don't remove_grad on model from conftest in test
  tests/conftest.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive

increase precision for test
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

fix model init
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

fix dtype issue
  tests/test_eigendistortion.py
Due: check-docstrings, check-malformed-directive

adds new binder role
  docs/_static/binder.ico
  docs/_static/custom.css
  docs/conf.py
Due: check-docstrings, check-malformed-directive

adds binder directive to all relevant notebooks
  docs/getting_started/quickstart.md
  docs/user_guide/advanced/Display.md
  docs/user_guide/advanced/Synthesis_extensions.md
  docs/user_guide/models_and_metrics/Perceptual_distance.md
  docs/user_guide/models_and_metrics/Steerable_Pyramid.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/advanced_usage/ps_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_intro.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_limitations.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/technical_details/ps_matlab_differences.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_examples.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_understand_stats.md
  docs/user_guide/reproduce/Demo_Eigendistortion.md
  docs/user_guide/reproduce/Original_MAD.md
  docs/user_guide/synthesis/Eigendistortions.md
  docs/user_guide/synthesis/MAD_Competition_1.md
  docs/user_guide/synthesis/MAD_Competition_2.md
  docs/user_guide/synthesis/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

update check_tutorials for binder links
  linting/check_tutorials.py
Due: check-docstrings, check-malformed-directive

adds jupyterlab/myst to nb requirements
  pyproject.toml
Due: none

updates references to binder
  docs/getting_started/install.md
  docs/getting_started/jupyter.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds new tests
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix typo
  docs/getting_started/jupyter.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

remove correctly failing test
  .github/workflows/ci.yml
Due: none

rg not installed by default, use grep
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

completely remove correctly failing tests
  .github/workflows/ci.yml
Due: none

add 1.4.0
  docs/_static/version_switcher.json
Due: none

fix json
  docs/_static/version_switcher.json
Due: none

add jq action to parse json
  .github/workflows/ci.yml
Due: none

correct old links
  docs/reference/reproducibility.md
  docs/user_guide/synthesis/MAD_Competition_2.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

change default value from 9 to 7
  docs/user_guide/models_and_metrics/portilla_simoncelli/advanced_usage/ps_extensions.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/getting_started/ps_basic_synthesis.md
  docs/user_guide/models_and_metrics/portilla_simoncelli/understanding/ps_understand_stats.md
  src/plenoptic/simulate/models/portilla_simoncelli.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

not an attribute
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

updates doctest values
  src/plenoptic/simulate/models/portilla_simoncelli.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive

updates hashes and versions
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

make check less specific
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive

increase precision
  src/plenoptic/tools/optim.py
Due: check-docstrings, check-malformed-directive

fix docstring linting to allow for default in versionchanged
  linting/check_docstrings.py
  src/plenoptic/simulate/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive

improve multiline in table
  docs/_static/search-table.js
  docs/reference/migration_guide.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

sets module for all objects, add test for that
  src/plenoptic/_synthesize/eigendistortion.py
  src/plenoptic/_synthesize/mad_competition.py
  src/plenoptic/_synthesize/metamer.py
  src/plenoptic/model_components/laplacian_pyramid.py
  src/plenoptic/model_components/steerable_pyramid_freq.py
  src/plenoptic/models/frontend.py
  src/plenoptic/models/naive.py
  src/plenoptic/models/portilla_simoncelli.py
Due: check-docstrings, check-malformed-directive
